.filter_menu{
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
}
.filter_menu select, input{
    border: 1px solid #ccc !important;
    outline: none !important;
    height: 40px !important;
    padding: 0 5px !important;
}
.filter_menu input{
    flex: 1;
    margin: 0 10px 0 0 !important;
}

.filter_menu select {
    display: block;
    width:96%;
}
.capitalize {
    text-transform: capitalize;
}